@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --color-primary: hsl(180, 29%, 50%);
  --color-background: hsl(180, 52%, 96%);
  --color-filter-tablets: hsl(180, 31%, 95%);
  --color-dark-grayish: hsl(180, 8%, 52%);
  --color-very-dark: hsl(180, 14%, 20%);
  --color-content-block: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: top right no-repeat url(images/bg-header-desktop.svg),
    linear-gradient(
      var(--color-primary) 0%,
      var(--color-primary) 156px,
      var(--color-background) 156px,
      var(--color-background) 100%
    );
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}

.content-block {
  display: flex;
  background-color: var(--color-content-block);
  /* width: minmax(80%, 150rem); */
  min-width: 90vw;
  max-width: 150rem;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
